<h1>フォロー一覧(<%= @customers.count %>件)</h1>

  <% @customers.each do |customer| %>
    <%= image_tag customer.get_image(200,200) %><br>
    <%= link_to my_page_path(customer.id) do %>
        <%= customer.user_name %>
    <% end %>
  <% end %>
  