    <%= render 'searches/customer_search', customer: @customer %>
    <div class="col-12 container">
      <div class="row d-flex justify-content-start">
      <%= render 'public/customers/customer_list', customers: @customers %>
  </div>
</div>
  