<% if @shop_checks.exists? %>
  <%= render partial: 'shop_check', collection: @shop_checks %>
<% else %>
  <div class="container">
    <div class="row col-12 d-flex justify-content-center mt-5">
      <p>やることはありません。</p>
    </div>
  </div>
<% end %>
