<% if @notices.exists? %>
  <%= render partial: 'notice', collection: @notices %>
<% else %>
  <div class="container">
    <div class="row col-12 d-flex justify-content-center mt-5">
      <p>通知はありません。</p>
    </div>
  </div>
<% end %>
