<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="my-3"><i class="fas fa-gem"></i> ユーザー一覧</h4>
    </div>
    <div class="col-12 text-right">
      <%= form_tag customer_search_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "ユーザー検索" %>
        <%= button_tag :type => "submit", :user_name => nil do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
