<h1>作品一覧</h1>

  <%= form_tag item_search_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "作品検索" %>
    <%= button_tag :type => "submit", :name => nil do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
