<%= render 'blog_search', blog: @blog %>
    <% if @blogs.present? %>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
      <%= render 'public/blogs/blog_list', blogs: @blogs %>
    <% else %>
    <div class="col-12 text-center m-3">
      <p>ブログの検索結果はありませんでした。</p>
      <p>キーワードを変更してもう一度検索してください。</p>
    </div>
    <% end %>
  </div>
</div>
