<%= render 'customer_search', customer: @customer %>
    <% if @customers.present? %>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
      <%= render 'public/customers/customer_list', customers: @customers %>
    <% else %>
    <div class="col-12 text-center m-3">
      <p>ユーザーの検索結果はありませんでした。</p>
      <p>キーワードを変更してもう一度検索してください。</p>
    </div>
    <% end %>
  </div>
</div>

