<%= render 'shop_search', shop: @shop %>
    <% if @shops.present? %>
    <div class="col-12 card-list-container">
      <div class="row d-flex justify-content-start">
      <%= render 'public/shops/shop_list', shops: @shops %>
    <% else %>
    <div class="col-12 text-center m-3">
      <p>ショップの検索結果はありませんでした。</p>
      <p>キーワードを変更してもう一度検索してください。</p>
    </div>
    <% end %>
  </div>
</div>


  